@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --primary-container-color: #1e1f20;
  --background-color: #242424;
  --primary-color: #065fb3;
  --secondary-color: #033666;
  --text-color: #dbdbdb;
  --attenuated-text-color: #a7a7a7;
}

#root {
  width: 90%;
}

@media (width > 1120px) {
  #root {
    max-width: 1000px;
    margin: 0 auto;
  }
}

body {
  font-family: "Fira Sans", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  font-family: "Fira Sans", sans-serif;
  background: var(--secondary-container-color);
  border: solid 1px var(--attenuated-text-color);
  padding: 8px 12px;
  border-radius: 8px;
  color: var(--attenuated-text-color);
  box-sizing: border-box;

  &:hover {
    background-color: var(--primary-color);
    border: none;
  }
}

input {
  font-family: "Fira Sans", sans-serif;
}
